*.DS_Store
*.directory
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
.ghc.environment.*

.drhaskell/
hlintReport.plain
hpc_index.html
hpc_index_alt.html
hpc_index_exp.html
hpc_index_fun.html
hpc_test
hpc_test.tix
Main.hs.html
